* {
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    display: flex;
    width: 1024px;
    height: calc(768px -65px -20px);
    background-color: lawngreen;
    margin: auto;
}

/* header */
header {
    width: 1024px;
    height: 65px;
    background-color: lightblue;
    margin: auto;
}

/* aside */
aside {
    width: 215px;
    height: calc(768px- 65px - 20px);
    background-color: bisque;

    display: flex;
    flex-direction: column;


}

.aside-header {
    width: 215px;
    height: calc(100%-25px);
    background-color: brown;
}

.asider-footer {
    width: 215px;
    height: 25px;
    background-color: blue;

}


/* main */

main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    background-color: aquamarine;
}

.main-header {
    width: 100%;
    height: 29px;
    background-color: bisque;
}

.main-footer {
    width: 100%;
    height: calc(100% - 29px);
    background-color: blueviolet;
}



/* footer */
footer {
    width: 1024px;
    height: 20px;
    background-color: lightcoral;
    margin: auto;
}